/* .hero {
  background-color: var(--accent-color);
  text-align: center;
  padding: 2rem;
  color: var(--text-color);
}

.hero img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.hero h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
} */
.hero {
  background-color: var(--accent-color);
  text-align: center;
  padding: 2rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 100%;
  max-width: 250px;
  border-radius: 20px;
}
html{
  scroll-behavior: smooth;
}
.hero h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .hero {
    padding: 1rem;
    text-align: center;
  }
}