.hero {
  background-color: var(--accent-color);
  text-align: center;
  padding: 2rem;
  color: var(--text-color);
}

.hero img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.hero h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}