.navbar {
  background-color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.navbar h1 {
  color: var(--accent-color);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar li {
  color: var(--bg-color);
  cursor: pointer;
}