.projects {
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.project-card {
  background: white;
  color: black;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.project-card:hover {
  transform: scale(1.05);
}
