.projects {
  padding: 2rem;
  background-color: var(--bg-color);
  text-align: center;
  color: var(--text-color);
}

.project-card {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 400px;
}